.bookedSeat{
    background-color: chocolate;
}
.selectSeat{
   padding: 1%x;
    background-color: darkgreen;
}

button{
    column-gap: 10px;
}

.seating-list {

    columns: 10;
    list-style: none;
    margin: 20px;
    
    padding: 30px;
    text-align: center;
    background-color: darkgrey;
    height: auto;
}
.seats li .bookedSeat {
    padding: 1%;
    background: red;
}
.seatsNo li {
 text-align: justify;
}

.card{
    border: thick;
    border-color: black;
    nav-down: auto;
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
}
.container-card{
    background-color: rgb(104, 13, 189);
    width: fit-content;
    opacity: 70%;
    border: 15px solid black;
    border-color:rgba(rgb(35, 15, 92), green, blue, alpha) !important;
    padding: 10px;
    text-align: center;
    font-weight: bolder;
    border-radius: 10px;
    
}
.myseats{
    display: grid;
    grid-template-columns: 33% 33% 33% 

}